<!-- <%= debug @user %> -->

<!-- # @resource = @user.resources.create(params[:resource]) -->

<h3>Create a resource:</h3>

<!-- form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| -->

<%= form_for([@user, @user.resources.build]) do |f| %>

    <% if @user.errors.any? %>
      <h4>Some errors</h4>

    <% end %>

    <%= debug(@user) %>
    <%= debug(@resource) %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :topic %>
      <%= f.text_field :topic %>
    </div>
    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
