<p id="notice"><%= notice %></p>

  <%= debug @resource  %>
  <%= debug @user  %>

<p>
  <b>Title:</b>
  <%= @resource.title %>
</p>

<p>
  <b>Topic:</b>
  <%= @resource.topic %>
</p>

<p>
  <b>Price:</b>
  <%= @resource.price %>
</p>

<p>
  <b>Content:</b>
  <%= @resource.content %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @resource.image_url(:thumb).to_s %>
</p>


<%= link_to 'Edit', edit_user_resource_path(current_user.id, @resource) %> |
<%= link_to 'Back', user_resources_path %>
